<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Skill will be covered
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="drop($event)">
      <mat-chip class="example-box" cdkDrag *ngFor="let skill of coveredSkills">
        {{skill.name}}
      </mat-chip>
    </mat-chip-list>
  </mat-expansion-panel>
</mat-accordion>
