<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span style="font-weight: 500">Requirements</span>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="expansion-body-padding">
      <ul>
        <li class="" *ngFor="let requirement of requirements">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="">
            <label class="form-check-label" for="exampleRadios1">
              {{requirement.name}}
            </label>
          </div>
        </li>
      </ul>
    </div>
  </mat-expansion-panel>
</mat-accordion>
