ul {
  padding: 0;
  list-style-type: none;
}
ul {
  columns: 2;
}

ul li:before {
  content: '';
}

.mat-expansion-panel-header.mat-expanded {
  height: 50px;
}

.mat-expansion-panel-header {
  border: 1px solid #d9d9d9;
  border-radius: 0%;
}
.expansion-body-padding{
  padding-top: 20px;
}
