<mat-accordion>
  <mat-expansion-panel class="mat-elevation-z0"  (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="mat-panel-title">Requirements</span>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="expansion-body-padding ">
      <ul>
        <li class="" *ngFor="let requirement of requirements">
          <div class="pad-z-l">
            <label class="pad-z-l" nz-radio nzValue="A">{{requirement.name}}</label>
          </div>
        </li>
      </ul>
    </div>
  </mat-expansion-panel>
</mat-accordion>
