.backgroung-black {
  background-image: url("../../../assets/img/Rectangle\ 300background.png");
  height: 400px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw;
}

.course-title {
  // font-family: Avenir;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  /* or 58px */

  display: flex;
  align-items: center;
  letter-spacing: -0.5px;

  /* White */

  color: #ffffff;
}

.course-desc {
  // font-family: Avenir;
  // font-style: normal;
  // font-weight: 500;
  font-size: 16px;
  line-height: 145%;
  /* or 26px */

  letter-spacing: 0.15px;
  padding-bottom: 10px;
  /* Gray-1 */

  color: #ebecee;
}
.rating-info-div {
  padding-bottom: 10px;
}
.course-info-div {
  color: #ebecee;
  padding-bottom: 25px;
}
.course-prev {
  width: 400px;
  height: 279px;
}

.checked {
  color: orange;
}

.containerrx {
  width: 70%;
}
.course-author-div {
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0.25px;

  /* White */

  color: #ffffff;
}
