<div class="backgroung-black">
  <div class="containerrx" style="margin-left: auto;margin-right: auto;padding-top: 70px;">
    <div nz-row>
      <div nz-col nzSpan="12">
        <h1 class="course-title">{{courseDetails.courseSummary.name}}</h1>
        <div class="course-desc">
          {{courseDetails.courseSummary.about}}
        </div>
        <div>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
        <div nz-row>
          <div nz-col nzSpan="24">
            <div>
              <app-what-you-will-learn [learnings]="courseDetails.learnings"></app-what-you-will-learn>
            </div>
            <div class="mt-3">
              <app-requirements [requirements]="courseDetails.requirements"></app-requirements>
            </div>
            <div class="mt-3">
              <app-description [descriptions]="courseDetails.descriptions"></app-description>
            </div>
            <div class="mt-3">
              <app-skills-covered-in-this-course [coveredSkills]="courseDetails.coveredSkills">
              </app-skills-covered-in-this-course>
            </div>
            <div class="mt-3">
              <app-course-content [contents]="courseDetails.contents"></app-course-content>
            </div>
            <div class="mt-3">
              <app-featured-review [featureReviews]="courseDetails.featureReviews"></app-featured-review>
            </div>
            <div class="mt-3">
              <app-students-also-bought [relatedCourse]="courseDetails.relatedCourse"></app-students-also-bought>
            </div>
          </div>

        </div>
      </div>
      <div nz-col nzSpan="7" nzOffset="1">
        <app-enroll-component [enrollInfoes]="courseDetails.enrollInfoes"></app-enroll-component>
      </div>
    </div>


  </div>
</div>
