<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Feature Review
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="row">
      <div class="col-md-6" *ngFor="let featureReview of featureReviews">
        <div class="row">
          <div class="col-md-4">
            <img src="{{featureReview.image}}" alt="">
          </div>
          <div class="col-md-8">
            {{featureReview.name}}<br>
            {{featureReview.profession}}<br>
            {{featureReview.rate}} &nbsp; <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {{featureReview.review}}
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
