<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img alt="Angular Logo"
    src="../assets/img/durham-university-2019 1logo.png" width="110" height="32" style="padding-left: 5px;"/>
  <div class="spacer"></div>

  <button type="button" id="cancel-save" class="btn btn-secondary">
    <span>Log in</span>
  </button> &nbsp;
  <button type="submit" id="save-entity" class="btn btn-success">
    <span>Join Now</span>
  </button>
</div>
<div class="containerd">
  <router-outlet></router-outlet>
</div>
