<mat-accordion>
  <mat-expansion-panel class="mat-elevation-z0" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="mat-panel-title">Student Also bought</span>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="expansion-body-padding">
      <div class="row" *ngFor="let course of relatedCourse">
        <div class="col-md-4">
          <img src="{{course.image}}" alt="">
        </div>
        <div class="col-md-6 offset-1">
          <span>
            <b>{{course.name}}</b>
          </span>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
