<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Course content
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="accordion" id="accordionExample" *ngFor="let content of contents">
      <div class="card-headerx" id="headingOne">
        <div class="row">
          <div class="col-md-8">
            <h2 class="mb-0">
              <span (click)="changeIcon()" class="btn-block text-left" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                <img alt="" [src]="isOpen? 'assets/img/minimize_24px.png' : 'assets/img/add_24px.png'" />
                {{content.name}}
              </span>
            </h2>
          </div>
          <div class="col-md-4" style="text-align: right;">
            <h2 class="mb-0" style="text-align: right;">
              <span class="btn-block text-right" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                aria-controls="collapseOne">
                {{content.length}}
              </span>
            </h2>
          </div>
        </div>
      </div>

      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample"
        *ngFor="let content of content.contents">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              {{content.name}}
            </div>
            <div class="col-md-3 offset-3" style="text-align: right;">
              {{content.length}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
