.mat-expansion-panel-header.mat-expanded {
  height: 50px;
}

.mat-expansion-panel{
  border: 1px solid #EBECEE;
}
.mat-expansion-panel-header {
  border: 1px solid #EBECEE;
  border-radius: 0%;
}
.expansion-body-padding{
  padding-top: 20px;
}
.mat-panel-title{
  font-weight: 500;
}
