<mat-accordion>
  <mat-expansion-panel class="mat-elevation-z0" (opened)="panelOpenState = true" (closed)="panelOpenState = false"
    [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="mat-panel-title">What you will learn</span>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="expansion-body-padding collapse-body-text">
      <ul>
        <li class="" *ngFor="let learning of learnings"><i class="fas fa-check pad-ten-r"></i>
          <span>{{learning.name}}</span></li>
      </ul>
    </div>
  </mat-expansion-panel>
</mat-accordion>
